body {
    position: relative;
    margin: 0;
    top: 50px;
    z-index: 0;
    overflow: scroll;
}

body * {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

#navbar-top {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: antiquewhite;
}

img[id='logo'] {
    width: 200px;
    height: 50px;
}

#menu-top {
    position: absolute;
    right: 50px;
    top: 0;
}

.menu-items-top {
    display: inline-block;
}

/* content area */
#main-area {
    position: relative;
    display: flex;
    flex-direction: row;
}

#footer {
    width: 100vw;
    text-align: center;
    background-color: grey;
}

#navbar-left {
    width: 20%;
    background-color: blueviolet;
    color: aliceblue;
}

#menu-left {
    margin-top: 10px;
    margin-left: 20px;
}

#img-container {
    margin: auto;
    width: 95%;
    border: 1px solid green;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-size: 20px;
    color: whitesmoke;
    padding: 5px;
}

.gif {
    width: calc(100% / 3);
}

p {
    text-align: justify;
}