/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* removing deafult properties */
body, body * {
    z-index: 0;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, p, button, a{
    font-style: normal;
    padding: 10px;
    font-family: 'Roboto Mono';
}

h1 {
    color: rgb(45, 40, 65);
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-shadow: -3px -3px 3px rgba(192, 129, 129, 0.342);
}

h3 {
    font-weight: 550;
    font-size: 24px;
    line-height: 29px;  
}

h4 {
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
}

a {
    font-weight: 550;
    font-size: 20px;
    padding: 30px;
}

p {
    font-weight: 500;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 24px;
}
.main-section {
    position: relative;
    height: 703px;
    width:auto;
}

/* navigation bar */
#header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BEC9CF;
}   

#navbar {
    list-style-type: none;
}

.nav-items {
    display: inline;
}

.nav-links {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #1B2155;
}

.nav-links:hover {
    background-color: #414169;
    color: azure;
}

/* homepage */
#home {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-image: linear-gradient(#D5AfC4, #B9C8C4);
}

img#home-portrait {
    position: absolute;
    width: 480px;
    height: 620px;
    right: 50px;
    top: -7px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

#overflow-text {
    position: absolute;
    top: 160px;
}
/* done */
div#home-desc {
    color: #323438;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 994px;
    height: 300px;
    padding: 20px;
    background: rgb(217, 217, 217, 0.4);
    border-radius: 10px;
}

div#more {
    color: #1c222e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expand {
    /* transition: background-color 1s; */
    position: absolute;
    bottom: 60px;
    animation: falls-down 1s ease-in forwards infinite;
}

/* animation */
@keyframes falls-down {
    0% {
        opacity: 0; 
    }
    20% {
        bottom: 60px;
        opacity: 0.8;
    }
    60% {
        bottom: 40px;
        opacity: 0.6;
    }
    80%{
        bottom: 20px;
        opacity: 0.4;
    }
    100% {
        bottom: 0;
        opacity: 0.2;
    }
}

/* about */

#about {
    height: auto;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(180deg, #BBC8CE 0%, rgba(255, 255, 255, 0) 100%);
}

#about-portrait {
    visibility: none;
    position: absolute;
    width: 520px;
    height: 657px;
    left: 260px;
    top: 210px;
}

#about-text {
    position: relative;
    margin-right: 70px;
}

#about-portrait-eclipse {
    position: absolute;
    right: 0;
    height: 1064px;
}

#about-portrait-frame {
    width: 569px;
    height: 778px;
    position: absolute;
    left: 200px;
    top: 150px;
}

.about-desc {
    padding: 15px;
    margin-left: 50px;
    list-style-type: disc;
    font-family: 'Work Sans';
    font-weight: 550;
    font-size: 18px;
    line-height: 28px;
}

/* carrier */
#carrier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: auto;
    height: auto;
    background-image: url(assets/images/carrier-background.jpg);
    /* background-position: center; */
    background-size: cover;
}

#carrier-heading {
    grid-column: 1 / span 2 ;
    grid-row: 1 / 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.info-box{
    text-align: center;
    width: 389px;
    height: 145px;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
}

.info-box-data {
    font-family: 'Work Sans';
    font-weight: 800px;
}

#lap1 {
    top: 150px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap2 {
    top: 310px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap3 {
    bottom: 220px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap4 {
    bottom: 50px;
    left: calc(50% - 50px);
    position: absolute;
}

#line {
    left: 50%;
    top: 110px;
    height: 85%;
    position: absolute;
}

#carrier-box1 {
    margin-top: 20px;
    align-self: end;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
}

#carrier-box2 {
    grid-column: 2 / 2 ;
    grid-row: 3 / 3;
}

#carrier-box3 {
    grid-column: 1 / 1 ;
    grid-row: 4 / 4;
}

#carrier-box4 {
    margin-bottom: 30px;
    grid-column: 2 / 2 ;
    grid-row: 5 / 5;
}