/* 
card colours - red, blue, grey, orange
*/

* {
    margin: 0;
}

.card {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#card-1 {
    background-color: aliceblue;
}

#card-2 {
    background-color: rgba(15, 15, 104, 0.5);
}

#card-3 {
    background-color: rgba(77, 75, 75, 0.5);
}

#card-4 {
    background-color: rgba(197, 68, 17, 0.5);
}

.header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 20px;
    color: white;
}

#header-1 {
    background-color: rgb(228, 72, 72);
}

#header-2 {
    background-color: rgb(15, 15, 104);
}

#header-3 {
    background-color: rgb(77, 75, 75);
}

#header-4 {
    background-color: rgb(197, 68, 17);
}

.content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 60px;
    width: fit-content;
    height: fit-content;
}