.container {
  background-color: antiquewhite;
  height: 100vh;
}
.row {
  margin-top: 20pt;
}

.main-inner {
  background: url("https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
}

.character {
  width: 100px;
  background: url("./sprites/still_01.png");
}

.score {
  background-color: aliceblue;
}
