.container {
  position: relative;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

body {
  overflow-y: hidden;
}

.row {
  margin-top: 20pt;
}
* {
  margin: 0;
  padding: 0;
}

#myVideo {
  position: fixed;
  width: 100%;
  height: 100%;
}

.main-inner {
  position: relative;
  background: url("https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 90%;
  margin: auto;
  overflow: hidden;
  background-repeat: repeat-x;
}

.main {
  width: 100%;
  height: 90%;
  /* background-color: aqua; */
}

.character {
  width: 50px;
  height: 80px;
  position: absolute;
  top: 62%;
  right: 120pt;
  z-index: 2;
}

.slime {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 66%;
  z-index: 2;
}

.score {
  background-color: aliceblue;
}

.background1 {
  position: absolute;
  top: 55%;
  height: 100pt;
}

.background2 {
  position: absolute;
  top: 228pt;
  height: 180pt;
}

#startBtn {
  width: 200px;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 40%;
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

#closeBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}

.banner {
  color: aquamarine;
  position: absolute;
  margin: auto;
  right: 45%;
  top: 20%;
  visibility: hidden;
}

.congrats {
  position: absolute;
  visibility: hidden;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 3;
}

.congrats > img {
  position: inherit;
  margin: auto;
  right: 0;
  left: 0;
  top: 50%;
}

/*  SVG utilities */
svg text {
  font-family: sans-serif;
  letter-spacing: 5px;
  stroke: rgb(115, 144, 193);
  font-size: 50px;
  font-weight: 700;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(210, 61%, 35%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(51, 122, 221, 0.218);
  }
}
