/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* removing deafult properties */
body, body * {
    z-index: 0;
    padding: 0px;
    margin: 0px;
}

input,textarea {
    all: unset;
    background-color: #F9EFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
}

textarea {
    padding-top: 20px;
    font-family: 'Inter';
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, button, a{
    font-style: normal;
    padding: 10px;
    font-family: 'Roboto Mono';
}

h1 {
    color: rgb(45, 40, 65);
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-shadow: -3px -3px 3px rgba(192, 129, 129, 0.342);
}

h3 {
    font-weight: 550;
    font-size: 24px;
    line-height: 29px;  
}

h4 {
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
}

a {
    font-weight: 550;
    font-size: 20px;
    padding: 30px;
}

p {
    font-weight: 500;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 24px;
}
.main-section {
    position: relative;
    height: 703px;
    width:auto;
}

/* navigation bar */
#header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BEC9CF;
}   

#navbar {
    list-style-type: none;
}

.nav-items {
    display: inline;
}

.nav-links {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #1B2155;
}

.nav-links:hover {
    background-color: #414169;
    color: azure;
}

/* homepage */
#home {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-image: linear-gradient(#D5AfC4, #B9C8C4);
}

img#home-portrait {
    position: absolute;
    width: 480px;
    height: 620px;
    right: 50px;
    top: -7px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

#overflow-text {
    position: absolute;
    top: 160px;
}

div#home-desc {
    color: #323438;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 994px;
    height: 300px;
    padding: 20px;
    background: rgb(217, 217, 217, 0.4);
    border-radius: 10px;
}

div#more {
    color: #1c222e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expand {
    /* transition: background-color 1s; */
    position: absolute;
    bottom: 60px;
    animation: falls-down 1s ease-in forwards infinite;
}

/* animation */
@keyframes falls-down {
    0% {
        opacity: 0; 
    }
    20% {
        bottom: 60px;
        opacity: 0.8;
    }
    60% {
        bottom: 40px;
        opacity: 0.6;
    }
    80%{
        bottom: 20px;
        opacity: 0.4;
    }
    100% {
        bottom: 0;
        opacity: 0.2;
    }
}

/* about */

#about {
    height: auto;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(180deg, #BBC8CE 0%, rgba(255, 255, 255, 0) 100%);
}

#about-portrait {
    visibility: none;
    position: absolute;
    width: 520px;
    height: 657px;
    left: 260px;
    top: 210px;
}

#about-text {
    position: relative;
    margin-right: 70px;
}

#about-portrait-eclipse {
    position: absolute;
    right: 0;
    height: 1064px;
}

#about-portrait-frame {
    width: 569px;
    height: 778px;
    position: absolute;
    left: 200px;
    top: 150px;
}

.about-desc {
    padding: 15px;
    margin-left: 50px;
    list-style-type: disc;
    font-family: 'Work Sans';
    font-weight: 550;
    font-size: 18px;
    line-height: 28px;
}

/* carrier */
#carrier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: auto;
    height: auto;
    /* background-image: url(assets/images/carrier-background.jpg); */
    background-size: cover;
}

#carrier-heading {
    grid-column: 1 / span 2 ;
    grid-row: 1 / 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.info-box{
    text-align: center;
    width: 389px;
    height: 145px;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
}

.info-box-data {
    font-family: 'Work Sans';
    font-weight: 800px;
}

#lap1 {
    top: 150px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap2 {
    top: 310px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap3 {
    bottom: 220px;
    left: calc(50% - 50px);
    position: absolute;
}

#lap4 {
    bottom: 50px;
    left: calc(50% - 50px);
    position: absolute;
}

#line {
    left: 50%;
    top: 110px;
    height: 85%;
    position: absolute;
}

#carrier-box1 {
    margin-top: 20px;
    align-self: end;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
}

#carrier-box2 {
    grid-column: 2 / 2 ;
    grid-row: 3 / 3;
}

#carrier-box3 {
    grid-column: 1 / 1 ;
    grid-row: 4 / 4;
}

#carrier-box4 {
    margin-bottom: 30px;
    grid-column: 2 / 2 ;
    grid-row: 5 / 5;
}

/* srevices */

#services {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#service-heading {
    margin: 20px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    width: 100%;
}

#ser-eclipse {
    width: 100%;
}

#service-main {
    position: absolute;
    top: 200px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.services-box {
    padding: 20px;
    background-color: aliceblue;
    width: 227px;
    height: 317px;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    transition: all ease 0.2s;
}

.ser-list-head {
    font-family: 'Work Sans';
}

.services-box:hover {
    cursor: pointer;
    filter: none;
    transform: scale(0.99);
}

.ser-list {
    list-style-image: url(assets/images/service-check-icon.png);
    margin-left: 30px;
    font-family: 'Work Sans';
    line-height: 0.8cm;
    color: #1c222e;
}

#service-tech {
    margin-top: 250px;
    margin-bottom: 100px;
    width: auto;
    display: inline-block;
    display: flex;
    justify-content: center;
}

/* projects */

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    align-items: start;
    /* background-image: url(assets/images/projects-cover.png); */
    background-size: cover;
    width: 100%;
}

#pro-header {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

#pro-desc {
    text-align: center;
    display: inline-block;
    width: 500px;
    background-color: #BEC9CF;
    align-items: center;
    padding: 20px;
}

#pro-article {
    align-self: center;
    justify-self: center;
    grid-column: 2/2;
    grid-row: 2/2;
}

#social-topic {
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
}

#social-icon {
    position: relative;
    width: 35px;
    height: 50px;
    bottom: -15px;
}

.pro-pallets-grp1 {
    background: linear-gradient(180deg, #927979 0%, rgba(227, 227, 227, 0) 100%);
    filter: drop-shadow(8px 8px 32px rgba(64, 68, 77, 0.08));
    border-radius: 8px;
    padding: 20px;
    width: 277px;
    height: 317px;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    justify-self: center;
}

.pro-pallets-grp2 {
    background: linear-gradient(180deg, #525C44 0%, rgba(82, 92, 68, 0) 100%);
    filter: drop-shadow(8px 8px 32px rgba(64, 68, 77, 0.08));
    border-radius: 8px;
    padding: 20px;
    width: 277px;
    height: 317px;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    justify-self: center;
}

.pro-pallets-grp2 h2, .pro-pallets-grp1 h2 {
    color: #FFFBFA;
}

.pro-pallets-grp2 p {
    padding: 20px;
    color: #AFBCCF;
}

.pro-pallets-grp1 p {
    padding: 20px;
    color: #FCE6E6;
}

#farmeez {
    grid-row: 1/1;
    grid-column: 1/1;
}
#expo-rail {
    grid-row: 1/1;
    grid-column: 3/3;
}
#e-school {
    grid-row: 3/3;
    grid-column: 1/1;
}
#blue-ocean {
    grid-row: 3/3;
    grid-column: 3/3;
}

/* button transitions */
.pro-btn {
    position: relative;
    width: 180px;
    height: 60px;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
}
  
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
  
.pro-btn:hover {
    background: rgba(148, 147, 163, 0.2);
}
  
.pro-btn:hover svg {
    stroke-dashoffset: -480;
}
  
/* feedback-area */

#feedback {
    height: auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(50% 50% at 50% 50%, #52554F 0%, rgba(245, 245, 245, 0.22) 100%);
}

#feedback-profile {
    place-self: center;
}

#slide p {
    text-align: center;
    padding: 20px;
    line-height: 30px;
    font-family: 'Inter';
    font-size: 18px;
}

#profile-name {
    grid-column: 2/2;
    grid-row: 2/2;
    place-self: center;
    text-align: center;
    font-weight: 500;
    font-family: 'Inter';
    width: 100%;
    line-height: 30px;
    padding: 0;
}

#profile-name span {
    font-size: 26px;
}

.control-btn {
    width: 80px;
    height: 80px;
    
}

#feedback-header {
    font-weight: 600;
    font-size: 48px;
    color: #4E3636;
    text-align: center;
    padding: 20px;
}

#slideArea {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#slide {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    background-color: #F9EFEF;
    width: 580px;
    height: 280px;;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#feedbackArea {
    margin-top: 50px;
}

#feedback-form {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#feedback-form h4 {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

#feedback-form input[type="text"] {
    height: 48px;
    border: none;
    font-family: 'Inter';
}

#name {
    width: 310px;
}

label {
    font-family: 'Work Sans';
}

button#feedback {
    padding: 20px;
    color: #FFFBFA;
    background: rgba(80, 94, 219, 0.72);
    border-radius: 5px;
}

#feedback-form textarea {
    width: 376px;
    height: 105px;
}