@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* mobile small,medium,large */
@media all and (min-width:320px) and (max-width:768px) {

    .nav-items {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgb(153, 178, 204);
    }

    #navbar {
        z-index: 0;
        width: 100vw;
        background-color: rgba(166, 194, 211, 0.944);
    }

    #navbar li a {
        width: 100%;
        font-size: small;
    }

    nav {
        transform: translateY(-100%);
        position: absolute;
        transition: all 0.5s;
    }

    h3,p,h4 {
        font-size: 0.8em;
    }

    h1 {
        font-size: 20px;
    }

    li {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
    }

    /* home */

    #home {
        transition: all 0.5s;
        align-content: initial;
    }

    div#home-desc {
        justify-self: center;
        position: relative;
        top: 80px;
        width: 80%;
        text-align: center;
    }

    div#home-desc *{
        padding: 0;
    }

    div#home-desc p {
        text-align: left;
        font-weight: bold;
    }

    #home-desc>img{
        position: absolute;
        left: 0;
        bottom: -380px;
        margin: auto;
    }

    #home-desc>h1{
        top: 0;
        line-height: initial;
        position: relative;
    }

    /* about */

    #about-portrait {
        display: none;
    }

    #about-text {
        margin: auto;
    }

    #about-portrait-2 {
        margin: auto;
        transform: translateX(5%);
        top: 50px;
    }

    #about-text>h1 {
        padding: 0;
        height: fit-content;
        text-align: center;
    }

    .about-desc {
        background-color: whitesmoke;
        margin: 0;
        list-style-type: square;
    }

    /* acc */

    #carrier {
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        background-image: none;
    }

    #carrier-box1,#carrier-box2,#carrier-box3,#carrier-box4 {
        grid-column: auto;
        grid-row: auto;
        width: 90%;
        align-self: center;
        justify-self: center;
        z-index: 1;
        margin: 10px 0;
    }

    h1#carrier-heading {
        grid-column: auto;
        grid-row: auto;
        padding: 0%;
        height: fit-content ;
    }

    #line {
        z-index: -1;
    }

    #lap1,#lap2,#lap3,#lap4 {
        display: none;
    }

    /* services */

    #services {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    #services li{
        font-family: 'Inter';
    }

    #service-heading {
        margin: 0;
        font-size: small;
        padding: 0;
    }

    #service-main {
        position: relative;
        top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #service-tech{
        margin: 0;
    }

    #service-tech>img {
        margin: 0;
        width: 100%;
    }

    .services-box {
        margin: 20px;
        width: 50%;
        height: fit-content;
    }

    /* projects */

    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        background-image: hidden;
        align-items: center;
        height: fit-content;
    }

    #pro-header {
        font-size: large;
    }

    #pro-article, #pro-desc{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }


    #farmeez, #expo-rail, #e-school, #blue-ocean, #pro-article {
        grid-row: auto;
        grid-column: auto;
        width: 80%;
        align-self: flex-start;
        margin: 50px 0;
    }
    
    /* feedback */

    #feedback {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #feedback-profile {
        padding-left: 10px;
      }

    #feedback-header {
        font-size: 20px;
    }

    .control-btn {
        display: none;
    }

    #slideArea {
        width: 90%;
    }

    #feedback-form {
        height: auto    ;
    }

    #feedback-form>div:nth-child(3) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    #slideArea p, #slideArea h4, #slideArea span{
        font-size: 0.8em;
        line-height: 20px;
    }

    #name, #proffesion, textarea#message {
        width: 80%;
        right: 0;
    }

    #feedback-slider1,  #feedback-slider2 {
        visibility: hidden;
    }


    /* contact */
    #contact h1:first-child {
        font-size: 20px;
    }

    section#map iframe {
        width: 100%;
    }

    #info {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #sendMsgForm>form {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    #sendMsgForm>form>input, #sendMsgForm>form>textarea {
        width: 80%;
    }

    #sendMsgForm>form>input, #sendMsgForm>form>textarea, #sendMsgForm>form #contact-btn {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
        padding: 5px;
    }

    #sendMsgForm>form #contact-btn {
        margin: 20px 0 0 0 ;
    }

}

@media all and (min-width:320px) and (max-width:420px) {
    #about-portrait-2 {
        display: none;
    }
}
@media all and (width:320px) {
    #slideArea p {
        padding: 5px;
        font-size: 0.5em;
    }
    #profile-name {
        text-align: left;
    }
}

/* mobile-large : tablet */
@media all and (min-width:768px) {

    img#home-portrait {
        left: 65px;
    }

    h3,p,h4 {
        font-size: 0.9em;
    }

    #about-text {
        width: 100%;
    }

    #about-text h4 {
        text-align: center;
    }

    .about-desc {
        text-align: center;
        opacity: 0.7;
    }

    #about-portrait-2 {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateX(0);
    }


    /* services */

    #service-heading {
        font-size: 30px;
    }

    #service-main {
        flex-wrap: wrap;
    }

    .services-box {
        width: max-content;
        height: max-content;
    }

    /* projects */

    #projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    #projects br {
        display: none;
    }

    #pro-article {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
    }

    #pro-header {
        font-size: 25px;
    }

    #farmeez, #expo-rail, #e-school, #blue-ocean {
        width: 60%;
        grid-column: auto;
    }

    /* feedback */

    #feedback #name, #feedback #proffesion {
        position: relative;
        right: -10px;
    }

    #feedback textarea#message {
        position: relative;
        right: -20px;
    }

    /* map */
    
    section#map {
        width: 100%;
    }

}

/* laptop small */
@media all and (min-width:769px) and (max-width:1024px) {

    #service-tech > img {
        margin-right: -15px;
    }

    svg {
        display: none;
    }

    .pro-btn {
        width: fit-content;
    }

    #opener {
        display: none;
    }

    /* home */
    #home {
        width: 100%;
    }

    #home-desc h3:nth-child(1){
        font-size: 1.5em;
    }

    div#home-desc {
        justify-self: end;
        width: 100%;
    }

    #home p {
        font-family: 'Inter';
        font-weight: 800;
        background-color: rgba(217, 217, 217, 0.4);
        border-radius: 5px;
    }

    h1#overflow-text {
        font-size: 3em;
        top: 180px;
        left: 50px;
    }

    img#home-portrait {
        content: url(../images/home-portrait-1.png);
        width: 450px;
        height: 450px;
        top: 75px;
        right: 80px;
    }

    /* about */

    #about-text > h1 {
        text-align: center;
    }

    #about-text h4 {
        font-weight: 800;
        font-size: 30px;
    }

    #about-text {
        width: 90%;
        margin: 0;
    }

    .about-desc {
        margin: auto;
    }

    #about-portrait-2 {
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    div#about-text > div{
        background-color: rgba(191, 206, 240, 0.6);
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
    }

    #about-portrait {
        display: none;
    }

    /* carrier */

    #carrier {
        background-position: center;
    }

    /* services */

    #service-tech {
        margin-top: 350px;
    }

    #service-main {
        top: 150px;
    }

    #service-heading {
        font-size: 35px;
    }

    /* projects */

    #projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        align-items: center;
    }

    #pro-article {
        grid-column: 1 / span 4;
        grid-row: 1 / 1;
    }

    #farmeez {
        grid-row: 2/2;
        grid-column: 1/1;
    }
    #expo-rail {
        grid-row: 2/2;
        grid-column: 2/2;
    }
    #e-school {
        grid-row: 2/2;
        grid-column: 3/3;
    }
    #blue-ocean {
        grid-row: 2/2;
        grid-column: 4/4;
    }

    /* feedback */
    #feedback h1 {
        font-size: 30px;
    }

    #feedback-form h4 {
        font-size: larger;
    }

    #feedback-slider1,  #feedback-slider2 {
        visibility: initial;
    }

    /* contact */
    #sendMsgForm > form {
        column-gap: 0;
    }

    address h3,address p {
        font-size: small;
    }

    #sendMsgForm>form input{
        margin: 0;
    }

    #sendMsgForm button#contact-btn {
        padding: 10px 40px;
    }

    section#map iframe{
        width: 100%;
    } 
}


@media all and (min-width:1024px) {
    #home-desc p br.optional{
        display: none;
    }
    img#home-portrait {
        left: auto;
      }
}

@media all and (min-width:1024px) and (max-width:1440px) {  
    header>h4#opener {
        display: none;
    }
}

/* laptop large */
@media all and (min-width:1440px) {

    header>h4#opener {
        display: none;
    }

    #about-text {
        width: 50%;
    }

    section#map iframe{
        width: 100%;
    } 

    #about-text > h1 {
        text-align: center;
    }

    #about-text h4 {
        font-weight: 800;
        font-size: 30px;
    }

    #service-heading {
        font-size: 45px;
    }

    #home-desc h3{
        font-size: 30px;
        font-weight: 500;
    }

    #home-desc p{
        font-family: 'Inter';
        font-size: larger;
    }

    /* projects */

    #projects {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 2fr;
    }

    #pro-article {
        grid-column: 2/2;
        grid-row: 2/2;
    }

    #farmeez {
        grid-row: 1/1;
        grid-column: 1/1;
    }
    #expo-rail {
        grid-row: 1/1;
        grid-column: 3/3;
    }
    #e-school {
        grid-row: 3/3;
        grid-column: 1/1;
    }
    #blue-ocean {
        grid-row: 3/3;
        grid-column: 3/3;
    }
}

@media all and (width:1920px) {
    img#home-portrait {
        right: 346px;
    }
}







