@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* laptop large */
@media all and (min-width:1024px) and (max-width:1440px) {

}

/* laptop small */
@media all and (min-width:768px) and (max-width:1024px) {

}


  


/* mobile small,medium,large */
@media (min-width:320px) and (max-width:768px) {

    #navbar {
        display: none;
    }

    h3,p,h4 {
        font-size: 0.8em;
    }

    h1 {
        font-size: 20px;
    }

    li {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
    }

    /* home */

    div#home-desc {
        justify-self: center;
        position: relative;
        top: 80px;
        width: 80%;
        text-align: center;
    }

    div#home-desc *{
        padding: 0;
    }

    #home-desc>img{
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: -150px;
        width: 120px;
        height: 155px;
    }

    #home-desc>h1{
        top: 0;
        line-height: initial;
        position: relative;
    }

    /* about */

    #about-portrait, #about-portrait-frame, #about-portrait-eclipse {
        display: none;
    }

    #about-text {
        margin: auto;
    }

    #about-text>h1 {
        padding: 0;
        height: fit-content;
        text-align: center;
    }

    .about-desc {
        background-color: whitesmoke;
        margin: 0;
        list-style-type: square;
    }

    /* acc */

    #carrier {
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        background-image: none;
    }

    #carrier-box1,#carrier-box2,#carrier-box3,#carrier-box4 {
        grid-column: auto;
        grid-row: auto;
        width: 90%;
        align-self: center;
        justify-self: center;
        z-index: 1;
        margin: 10px 0;
    }

    h1#carrier-heading {
        grid-column: auto;
        grid-row: auto;
        padding: 0%;
        height: fit-content ;
    }

    #line {
        z-index: 0;
    }

    #lap1,#lap2,#lap3,#lap4 {
        display: none;
    }

    /* services */

    #services {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    #services li{
        font-family: 'Inter';
    }

    #service-heading {
        margin: 0;
        font-size: small;
        padding: 0;
    }

    #service-main {
        position: relative;
        top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #service-tech{
        margin: 0;
    }

    #service-tech>img {
        margin: 0;
        width: 100%;
    }

    .services-box {
        margin: 20px;
        width: 50%;
        height: fit-content;
    }

    /* projects */

    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        background-image: hidden;
        align-items: center;
        height: fit-content;
    }

    #pro-header {
        font-size: large;
    }

    #pro-article, #pro-desc{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }


    #farmeez, #expo-rail, #e-school, #blue-ocean, #pro-article {
        grid-row: auto;
        grid-column: auto;
        width: 80%;
        align-self: flex-start;
        margin: 50px 0;
    }
    
    /* feedback */

    #feedback {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #feedback-profile {
        padding-left: 10px;
      }

    #feedback-header {
        font-size: 20px;
    }

    .control-btn {
        display: none;
    }

    #slideArea {
        width: 90%;
    }

    #feedback-form>div:nth-child(3) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #slideArea p, #slideArea h4, #slideArea span{
        font-size: 0.8em;
        line-height: 20px;
    }

    #name, #proffesion, textarea#message {
        width: 80%;
    }

    /* contact */
    #contact h1:first-child {
        font-size: 20px;
    }

    section#map iframe {
        width: 100%;
    }

    #info {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #sendMsgForm>form {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    #sendMsgForm>form>input, #sendMsgForm>form>textarea {
        width: 80%;
    }

    #sendMsgForm>form>input, #sendMsgForm>form>textarea, #sendMsgForm>form #contact-btn {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }

    #sendMsgForm>form #contact-btn {
        margin: 20px 0 0 0 ;
    }

}

/* mobile-large : tablet */
@media all and (min-width:425px) and (max-width:768px) {


    h3,p,h4 {
        font-size: 0.9em;
    }

    #about-text {
        width: 100%;
    }

    #about-text h4 {
        text-align: center;
    }

    .about-desc {
        text-align: center;
    }


    /* services */

    #service-heading {
        font-size: 30px;
    }

    #service-main {
        flex-wrap: nowrap;
    }

    .services-box {
        width: max-content;
        height: max-content;
    }

    /* projects */

    #projects {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    #projects br {
        display: none;
    }

    #pro-article {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
    }

    #pro-header {
        font-size: 25px;
    }

    #farmeez, #expo-rail, #e-school, #blue-ocean {
        width: 60%;
        grid-column: auto;
    }

    /* feedback */

    #feedback #name, #feedback #proffesion {
        position: relative;
        right: -10px;
    }

    #feedback textarea#message {
        position: relative;
        right: -20px;
    }

    /* map */
    
    section#map {
        width: 100%;
    }



}



